body {
    background-color: #CCC; 
}

.mainTopic {
    width: 500px;
    margin: auto;
}

.topic-container {
    padding: 5px 10px;
    background-color: #3C3963;
    text-align: left;
}

.topic-content {
    padding: 15px 13px;
    border-radius: 3px;
    background-color: #1A3363;
    border: 2px solid #505784;
}

.topic-header {
    color: #FECC30 !important;
    font-size: 35px !important;
    font-weight: normal !important;
}

.topic-tag {
    display: inline-block;
    background-color: #102F5F;
    border: 2px solid #3B5E96;
    border-radius: 2px;
    padding: 5px;
    color: #C0C0C0;
}

.topic-detail {
    /*min-height: 150px;*/
    color: #CCC;
    padding-top: 20px;
}

/* Copy */
.samgee .display-post-favourite .icon-mini-posttype {
    top: 2px;
}

.icon-mini-posttype-que {
    background-position: 0px 0px;
}

.icon-mini-posttype {
    background: url(https://image.ibb.co/fQzMTJ/icon_mini_posttype_16x16.png) no-repeat 0px 0px;
    float: left;
    height: 17px;
    margin-right: 2px;
    position: relative;
    width: 17px;
}
/* End of Copy */